* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("./img/bg_1.jpg");
}

#uiIndex, #uiSetting, #uiRule, #uiResult {
    height: 225px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -113px;
    text-align: center;
    background: rgba(211, 211, 211, 0.6);
    border-radius: 6px;
}

#uiSetting, #uiRule, #uiResult, #uiScore, #uiCountDown, #win, #lose {
    display: none;
}

#game {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: url("./img/bg_1.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%; 
}

#uiCountDown, #uiScore {
    position : absolute;
    width : 100px;
    background: black;
}

#uiCountDown {
    right : 0px;
    top : 5px;
}

#uiScore {
    left : 8px;
    top : 5px;
}

.title, .score, .countDown, #uiSetting span {
    color: white;
}

.btn {
    width: 166px;
    height: 30px;
    display: block;
    margin: auto; 
    margin-top: 16px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
}

.setSelect {
    margin-left: 6px;
    width: 100px;
    margin-top: 16px;
}

.rule {
    color: white;
    width: 80%;
    margin-top: 16px;
    margin-left: 10%;
}

.result {
    color: white;
    margin-top: 16px;
}

.title {
    margin-top: 5px;
}

#win, #lose {
    color: white;
    margin-top: 15px;
    background: rgba(40, 40, 40, 0.8);
    border-radius: 6px;
    width: 125px;
    margin-left: 37.5px;
    font-weight: bold;
}
